.place__like {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 22px;
  width: 22px;
  height: 19px;
  box-sizing: border-box;

  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  padding: 0;
  border: none;
}
