.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 41px;
  padding-bottom: 36px;
}


@media screen and (min-width: 1024px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
  }
}
