.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    "photo"
    "name-edit"
    "details"
    "add";

  padding-top: 41px;
  padding-bottom: 36px;
}


@media screen and (min-width: 1024px) {
  .profile {
    /* display: grid; */
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "photo name-edit add"
      "photo details add";

    align-items: center;
    column-gap: 30px;
  }
}
