.popup__content {
  --v-scrollbar-width: 16px;

  position: relative;
  max-width: calc(100vw - 2 * var(--v-scrollbar-width));
  max-height: 100vh;
}

@media screen and (min-width: 1024px) {
  .popup__content {
    --close-width: 32px;
    --close-indent: 8px;

    max-width: calc(100vw - 2 * var(--v-scrollbar-width) - 2 * var(--close-width) - 2 * var(--close-indent));
  }
}
