.profile__edit {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--edit-width);

  width: var(--edit-width);
  height: var(--edit-width);
  box-sizing: border-box;

  background-image: url(../../../images/edit.svg);
  background-size: 7.5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  padding: 0;

  border: 1px solid #FFFFFF;

  transition: opacity .3s ease-out;
}

.profile__edit:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .profile__edit {
    background-size: 10px;
  }
}
