.overlay__content {
  position: relative;
  max-width: calc(100vw - 32px - 8px);
  --v-scrollbar-width: 16px;
  --close-width: 32px;
  --close-indent: 8px;
  max-width: calc(100vw - 2 * var(--v-scrollbar-width) - 2 * var(--close-width) - 2 * var(--close-indent));
  max-height: 100vh;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
