.overlay__close {
  position: absolute;
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);

  width: 32px;
  height: 32px;
  box-sizing: border-box;

  padding: 0;
  border: none;

  background-image: url(../../../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  transition: opacity .3s ease-out;
}

.overlay__close:hover {
  opacity: 60%;
  cursor: pointer;
}
