.profile__add {
  margin-top: 33px;

  width: 282px;
  height: 50px;
  box-sizing: border-box;

  background-image: url(../../../images/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  padding: 0;

  border: 1px solid #FFFFFF;
}
