.profile__name {
  padding-top: 26px;
  max-width: 189px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;

  color: #FFFFFF;
}
