.profile__name {
  max-width: 189px;
  margin: 0;
  padding: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;

  color: #FFFFFF;
}
