.profile__name-edit-container {
  grid-area: name-edit;
  /* TODO: use 'stretch' ? */
  justify-self: center;

  padding: 26px 0 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;

  /* align text and edit icon */
  align-items: baseline;

  /* exclude button width and gap to keep text at root element center */
  transform: translateX(14px);
}

@media screen and (min-width: 1024px) {
  .profile__name-edit-container {
    /* grid-area: name-edit; */
    justify-self: stretch;

    /* required to show '...' */
    overflow: hidden;

    transform: none;
  }
}
