.profile__name-edit-container {
  --edit-width: 18px;
  --name-edit-indent: 10px;

  grid-area: name-edit;
  justify-self: stretch;

  /* sync h-center with figma: "center text only, then add button" */
  transform: translateX(calc((var(--edit-width) + var(--name-edit-indent)) / 2));

  /* required for '...' in child name element */
  overflow: hidden;

  padding-top: 26px;
  padding-left: calc((var(--edit-width) + var(--name-edit-indent)) / 2);
  padding-right: calc((var(--edit-width) + var(--name-edit-indent)) / 2);

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: var(--name-edit-indent);

  /* sync v-align with figma: text and edit icon by baseline */
  align-items: baseline;
}

@media screen and (min-width: 1024px) {
  .profile__name-edit-container {
    align-self: flex-end;
    padding: 0;
    transform: none;

    justify-content: flex-start;
  }
}
