.footer {
  flex-grow: 0;
  margin: 0 auto;
  width: 100%;

  padding: 48px 19px 36px;
  max-width: calc(880px + 19px + 19px);
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 67px;
  }
}
