.profile-form__save {
  padding: 0;
  margin-top: 45px;
  min-height: 46px;

  border-radius: 2px;
  border: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #FFFFFF;
  background: #000000;

  transition: opacity .3s ease-out;
}

.profile-form__save:hover {
  /* TODO: add 'button' block for all buttons */
  opacity: 80%;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .profile-form__save {
    margin-top: 48px;
    min-height: 50px;

    font-size: 18px;
    line-height: 22px;
  }
}
