.place__caption {
  --line-height: 1.2;

  padding: 0;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-weight: 900;
  font-size: 24px;
  line-height: var(--line-height);

  /* set height for empty string equals to one line of text. Also, '&ZeroWidthSpace;' can be used instead of empty lines, but it's requires more code. */
  min-height: calc(1em * var(--line-height)); 

  color: #000000;
}
